/sl/standard/models/pos/
/sl/stanndard/models/depparse/
/sl/non-standard/models/
/sl/spoken/conllu/
/sl/non-standard/conllu/train/SUK_ud_train.conllu
/sl/non-standard/conllu/train/combined_ud_train.conllu
/sl/non-standard/conllu/train/combined+dediacritized_ud_train.conllu
Fixed_Commands.txt
models/
out-temp/
**/models
sl/standard_SUK_1.1/out/sl_ssj-ud-test.pos.lemma.depparse_old_model_predictions.conllu